@use "../../_index.scss" as *;
@import "bootstrap-icons/font/bootstrap-icons";

.faq {
  margin: auto;
  max-width: 1200px;
  @include media-breakpoint-down(md) {
    p {
      font-size: smaller;
    }
  }
}
.accordion-item {
  .accordion-button::after {
    margin-right: 1.2rem;
    font-size: 1.3rem;
    color: $primary;
    font-family: "bootstrap-icons";
    content: "\f4fa"; // plus icon
    background-image: none; // remove background image
  }

  .accordion-button:not(.collapsed)::after {
    color: $primary;
    content: "\f2e6"; // minus icon
    background-image: none; // remove background image
  }

  .accordion-button {
    &:focus {
      box-shadow: none;
    }
    &:not(.collapsed) {
      background-color: rgba($primary, $alpha: 0.1);
      box-shadow: none;
      &:active {
        box-shadow: none;
      }
    }
  }
}
