@use "../../index.scss" as *;

.servicese {
  margin-bottom: 7rem;
  .title {
    margin: 0;
  }
  &__text {
    margin: 0;
    align-items: center;
    margin: 0 auto !important;
  }
  .comp {
    @include media-breakpoint-up(md) {
      margin-bottom: 5rem;
    }
  }

  @include media-breakpoint-down(md) {
    p {
      font-size: smaller;
    }
  }
}
.border-right {
  border-left: 1px solid grey;
  padding: 0 1rem !important;
  @include media-breakpoint-down(md) {
    border-top: 1px solid gray;
    border-left: none;
    padding-top: 1rem !important;
    margin-top: 1rem !important;
  }
}
