@use "../../index.scss" as *;

.comp {
  .lead {
    font-size: xx-large;
    font-weight: 800 !important;
  }
  .heading-line::before {
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
  }
  .heading-line::after {
    content: "";
    margin: 0px auto;
    width: 2.5rem;
    height: 0.4rem;
    margin-top: -0.5px;
    display: block;
    background-color: $primary;
  }
}
.brands {
  padding-bottom: 5rem;
  &__logo {
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 2rem;
  }
  img {
    width: 90%;
    &:hover {
      filter: grayscale(120);
    }
  }
}
